:root {
    --max-width: 615px;

    /* Colors */
    /* Primitive */
    --primary: #312c51;
    --primary-light: #48426d;
    --secondary: #f0c38e;
    --secondary-light: #ffd29f;
    --secondary-brighter: #f1aa9b;
    --light: #ffffff;
    --dark: #1f1f1f;

    /* Content */
    --content-primary: var(--light);
    --content-secondary: var(--dark);

    /* Container */
    --background-primary: var(--primary);
    --background-primary-light: var(--primary-light);
    --background-secondary: var(--secondary);
    --background-secondary-light: var(--secondary-light);
}

body {
    font-family: 'Inter', sans-serif;
}

.dark {
    --content-primary: var(--dark);
    --content-secondary: var(--light);
    --background-primary: var(--secondary);
    --background-primary-light: var(--secondary-light);
    --background-secondary: var(--primary);
    --background-secondary-light: var(--primary-light);
}
