:root {
    /* Primitive */
    --primary: #312c51;
    --primary-light: #48426d;
    --secondary: #f0c38e;
    --secondary-brighter: #f1aa9b;
    /* Content */
    --content-primary: #ffffff;
    --content-secondary: #1f1f1f;
}
