.Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--primary);
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
}

.MainTitle {
    color: var(--content-primary);
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
    margin: 3rem 0 0 0;
    width: min(var(--max-width), 100%);
}

.MainPost {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid var(--primary-light);
    border-radius: 1rem;
    box-sizing: border-box;
    width: min(var(--max-width), 100%);
}

.MainPostImage {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1em 1em 0 0;
}

.MainPostContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: auto;
    gap: 0.5em;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    color: var(--content-primary);
}

.MainPostLocation {
    font-weight: 600;
}

.MainPostAuthor {
    text-align: end;
}

.MainAuthorLabel {
    margin: 5em 0;
    color: var(--content-primary);
}

.MainAuthorLabel a {
    display: inline;
    position: relative;
    font-weight: 600;
}

.MainAuthorLabel a::before {
    opacity: 0;
    position: absolute;
    bottom: -2px;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--content-primary);
}

.MainAuthorLabel a:hover::before {
    opacity: 1;
}

.PostsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 1.25rem;
    width: 70%;
    height: fit-content;
}

.Item {
    width: 100%;
    height: 100%;
    background-color: blue;
    aspect-ratio: 16 / 9;
    border-radius: 0.5rem;
}

.Item.grow-w {
    grid-column: span 2 / auto;
}

.Item.grow-h {
    grid-row: span 2 / auto;
}

@media screen and (max-width: 800px) {
    .PostsGrid {
        width: min(var(--max-width), 100%);
    }
}

@media screen and (max-width: 600px) {
    .MainPostAuthor {
        text-align: start;
    }

    .Item.grow-h {
        grid-column: auto;
    }

    .Item.grow-w {
        grid-row: auto;
    }
}
