.Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 23em;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--primary);
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 615px;
    height: 100%;
}

.MainIcon {
    width: 10em;
    border-radius: 50%;
    margin: 3.5em 0;
}

.MainTitle {
    color: var(--content-primary);
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
}

.MainCTA {
    margin-top: 1.5em;
    padding: 0.75em 1.5em;
    font-weight: 600;
    font-size: 1em;
    border-radius: 8px;
    color: var(--content-secondary);
    background-color: var(--secondary);
}

.MainAuthorLabel {
    margin-top: 6em;
    color: var(--content-primary);
}

.MainAuthorLabel a {
    display: inline;
    position: relative;
    font-weight: 600;
}

.MainAuthorLabel a::before {
    opacity: 0;
    position: absolute;
    bottom: -2px;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--content-primary);
}

.MainAuthorLabel a:hover::before {
    opacity: 1;
}
