.Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 23em;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--primary);
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 615px;
    height: 100%;
}

.MainIcon {
    width: 10em;
    border-radius: 50%;
    margin: 3.5em 0;
}

.MainTitle {
    color: var(--content-primary);
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
}

.MainCTA {
    margin-top: 1.5em;
    padding: 0.75em 1.5em;
    font-weight: 600;
    font-size: 1em;
    border-radius: 8px;
    color: var(--content-secondary);
    background-color: var(--secondary);
    transition: filter 0.3s ease;
}

.MainCTA:hover {
    filter: brightness(110%);
}

.MainAuthorLabel {
    margin: 5em 0;
    color: var(--content-primary);
}

.MainAuthorLabel a {
    display: inline;
    position: relative;
    font-weight: 600;
}

.MainAuthorLabel a::before {
    opacity: 0;
    position: absolute;
    bottom: -2px;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--content-primary);
}

.MainAuthorLabel a:hover::before {
    opacity: 1;
}

.Recents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.25em;
    width: 100%;
    max-width: 615px;
    margin-top: 6em;
}

.RecentsTitle {
    grid-column: 1 / 3;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--content-primary);
}

.RecentsPost {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding: 1.25em;
    width: 100%;
    border: 2px solid var(--primary-light);
    border-radius: 1em;
    box-sizing: border-box;
}

.RecentsPostImage {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.5em;
    background-color: var(--primary-light);
}

.RecentsPostLocation {
    font-size: 1.1em;
    font-weight: 500;
    color: var(--content-primary);
}

.RecentsPostAuthor {
    font-size: 0.95em;
    font-weight: 400;
    margin-top: -0.75em;
    color: var(--content-primary);
}
